@using MyEvernote.WebUI.Models;
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>My Evernote</title>

    <!-- Bootstrap core CSS -->
    <link href="~/Content/css/bootstrap.css" rel="stylesheet">

    <!-- Add custom CSS here -->
    <link href="~/Content/css/shop-homepage.css" rel="stylesheet">

    <script src="~/Scripts/jquery-3.6.4.min.js"></script>
    <script src="~/Content/js/bootstrap.js"></script>
</head>

<body>  

    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/Home/Index">My Evernote</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav">
                    @if (CurrentSession.User != null)
                    {
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> <span class="glyphicon glyphicon-wrench"></span> Yönetim</a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="/Note/Create"><span class="glyphicon glyphicon-plus"></span> Not Ekle</a>
                                </li>
                                <li class="divider" role="separator"></li>
                                <li>
                                    <a href="/Note/Index"><span class="glyphicon glyphicon-th-list"></span> Notlarım</a>
                                </li>
                                <li>
                                    <a href="/Note/MyLikedNotes"><span class="glyphicon glyphicon-heart"></span> Beğendiklerim</a>
                                </li>
                                @if (CurrentSession.User.IsAdmin)
                                {
                                    <li class="divider" role="separator"></li>
                                    <li>
                                        <a href="/Category/Create"><span class="glyphicon glyphicon-plus"></span> Kategori Ekle</a>
                                    </li>
                                    <li>
                                        <a href="/Category/Index"><span class="glyphicon glyphicon-th-list"></span> Kategoriler</a>
                                    </li>
                                    <li class="divider" role="separator"></li>
                                    <li>
                                        <a href="/EvernoteUser/Create"><span class="glyphicon glyphicon-plus"></span> Kullanıcı Ekle</a>
                                    </li>
                                    <li>
                                        <a href="/EvernoteUser/Index"><span class="glyphicon glyphicon-th-list"></span> Kullanıcılar</a>
                                    </li>
                                }
                            </ul>
                        </li>
                        <li>
                            <a href="#about">

                            </a>
                        </li>
                    }

                    <li>
                        <a href="/Home/MostLiked">
                            <span class="glyphicon glyphicon-star"></span> En Beğenilenler
                        </a>
                    </li>
                    <li>
                        <a href="/Home/Index">
                            <span class="glyphicon glyphicon-th-list"></span> Son Yazılanlar
                        </a>
                    </li>
                    <li>
                        <a href="/Home/About">
                            <span class="glyphicon glyphicon-info-sign"></span> Hakkımızda
                        </a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    @if (CurrentSession.User == null)
                    {
                        <li>
                            <a href="/home/login">
                                <span class="glyphicon glyphicon-log-in"></span> Giriş
                            </a>
                        </li>
                        <li>
                            <a href="/Home/register">
                                <span class="glyphicon glyphicon-user"></span> Üye Ol
                            </a>
                        </li>
                    }

                    else
                    {
                        <li>
                            <a href="/Home/ShowProfile">
                                <span class="glyphicon glyphicon-user"></span> @CurrentSession.User.Username
                            </a>
                        </li>
                        <li>
                            <a href="/Home/Logout">
                                <span class="glyphicon glyphicon-log-out"></span> Çıkış
                            </a>
                        </li>
                    }

                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    @RenderBody()
    <!-- /.container -->

    <div class="container">

        <hr>

        <footer id="footer">

            <div class="row">
                <div class="col-lg-4 text-center">
                    <p> Copyright &copy; Company 2023 - Template by URSSoftware.com </p>
                </div>
                <div class="col-lg-4 text-center">
                    <p> Tüm hakları saklıdır &copy; MyEvernote @DateTime.Now.Year </p>
                </div>
                <div class="col-lg-4 text-center">

                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="email adresiniz" />
                        <span class="input-group-btn">
                            <button class="btn btn-primary" type="submit">
                                <span class="glyphicon glyphicon-send"></span> Gönder
                            </button>
                        </span>
                    </div>
                </div>
            </div>

        </footer>

    </div>
    <!-- /.container -->
    <!-- JavaScript -->



</body>

</html>
