@using MyEvernote.WebUI.Models
@using MyEvernote.Entity;
@{   
    List<Category> categories = CacheHelper.GetCategoriesFromCache();
}

<p class="lead">Kategoriler</p>
<div class="list-group">
    <a href="/Home/Index" class="list-group-item"><span class="glyphicon glyphicon-arrow-right"></span> Tümü</a>
    @foreach (var item in categories)
    {
        <a href="/Home/ByCategory/@item.Id" class="list-group-item"><span class="glyphicon glyphicon-arrow-right"></span> @item.Title</a>
    }

</div>