@using MyEvernote.WebUI.ViewModels
@model WarningViewModel
@{
    ViewBag.Title = Model.Title;
}

<link href="~/Content/css/login-register.css" rel="stylesheet" />

<div class="col-lg-2"></div>
<div class="col-lg-4" style="margin-bottom:20%">
    @using (Html.BeginForm())
    {
        <section class="login-info">
            <div class="container">
                <div class="row main">
                    <div class="form-header">
                        <h1 class="text-center ">@Model.Header </h1>
                    </div>
                    <div class="main-content">

                        <div class="text-warning">
                            <h2><span class="glyphicon glyphicon-warning-sign"></span>&nbsp;&nbsp;&nbsp;&nbsp;@Model.Title</h2>
                            <hr />
                            <p class="text-justify">
                                @foreach (string item in Model.Items)
                                {
                                    @item<br />
                                }
                            </p>
                        </div>

                    </div>
                </div>
            </div>
        </section>
    }

</div>

@{
    string js = string.Empty;
    if (Model.IsRedirecting)
    {
        js = "setTimeout(function() { window.location='" + Model.RedirectingUrl + "';}," + Model.RedirectingTimeout + ")";
    }
}

<script>
    $(function () {
        $("footer").parent().hide();
       @Html.Raw(js);
    });
    //$(function () {
    //    setTimeout(function () {
    //        window.location="/Home/Index"
    //    },5000)
    //})
</script>


