
@{
    ViewBag.Title = "Hesap Aktifleştirildi.";
}


<div class="container">
    <div class="alert alert-info">
        <h2>Hesabınız aktifleştirildi.</h2>
        <div class="text-success">
            <h2>Yönlendiriliyorsunuz.</h2>
            <hr />

        </div>
    </div>
</div>

<script>
    $(function () {
        $("#footer").parent().hide();
    });

    setTimeout(function () {
        window.location = "/Home/Login";
    },3000)
</script>



